<!DOCTYPE html>
<html>
<head>
  <title>I am Simme</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="{{ASSET_PATH}}simme/styles/css/master.css" />
  <link rel="stylesheet" href="{{ASSET_PATH}}simme/styles/css/pygments.css" />

  <script type="text/javascript" src="http://use.typekit.com/vai4kcx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link href="/atom.xml" rel="alternate" type="application/atom+xml" title="Atom feed" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
</head>
<body>

<div class="wrap">
  <header>
    <hgroup class="header">
      <h1>
        <a href="/">I am Simme</a>
      </h1>
    </hgroup>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/archive.html">Archive</a></li>
        <li><a href="/categories.html">Categories</a></li>
        <li><a href="/tags.html">Tags</a></li>
      </ul>
    </nav>
  </header>

  <section class="content">
    {{ content }}
  </section>

  <footer>
    <aside class="about">
      <h1>About Simon</h1>
      <p>
        I'm a nerd with a passion for web and iOS development. I work at
        <a href="http://goodold.se">Good Old</a> during the day and code my
        own stuff during the night.
      </p>
      <p>
        When I'm not coding I'm probably playing StarCraft 2 or something.
      </p>
    </aside>
    <nav class="links">
      <h1>In other places</h1>
      <ul>
        <li>
          <a href="http://github.com/simme">
            github.com/<span class="simme">simme</span>
          </a>
        </li>
        <li>
          <a href="http://instagrid.me/simmelj/">
            instagrid.me/<span class="simme">simmelj</span>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/simmelj">
            twitter.com/<span class="simme">simmelj</span>
          </a>
        </li>
        <li>
          <a href="http://www.last.fm/user/Styrisen">
            last.fm/user/<span class="simme">styrisen</span>
          </a>
        </li>
        <li>
          <a href="/atom.xml">
            RSS Feed
          </a>
        </li>
      </ul>
    </nav>
    <aside class="info">
      <h1>Info</h1>
      <p>
        All content is licensed under a
        <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
        Commons Attribution-ShareAlike 3.0 Unported License</a> unless
        otherwise stated.
      </p>
      <p>
      All code examples licensed under
      <a href="http://www.isc.org/software/license">ISC</a> unless otherwise
      stated. For a non attribution license,
      <a href="http://twitter.com/simmelj">contact</a> me.
      </p>
    </aside>
  </footer>
</div>

<script type="text/javascript">
  (function() {
    var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto&button=compact&uid=simme&category=text';
    t.parentNode.insertBefore(s, t);
  })();
</script>

{% include JB/analytics %}

</body>
</html>
